/*Header Inicial*/


.Principal-container {
    background-color: var(--color-Primario);
}

.nav-container ul {
    list-style: none;
    display: flex;
    justify-content: right;

}

.nav-container li {
    margin: 15px;

}




.nav-container li a {
    font-weight: bold;
    text-decoration: none;
    font-family: var(--fuente-primaria);
    font-size: 22px;
    color: black;

}


/*Header En la sesion*/

.Principal-container-H-Sesion {
    background-color: var(--color-Primario);
    height: 45px;
}

.nav-container-Sesion {
    display: flex;
    justify-content: start;
    margin-left: 350px;
}

.input-container-search-sesion {
    margin-top: 8px;

}

.input-search-sesion {
    font-family: var(--fuente-primaria);
    border-radius: 15px 15px;
    width: 401px;
    height: 30px;
    font-size: 17px;
    padding: 10px 10px;

}

.button-search-icon-container{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid var(--color-Primario) ;
    cursor: pointer;

}



.icon-search-sesion-container {
    margin-top: -2px;
    margin-left: 8px;
}

.icon-search-sesion {
    font-size: 42px;
    font-weight: normal;
}

.container-NameApp-sesion {
    font-family: 'Shadows Into Light', cursive;
    margin-left: 350px;
    font-size: 18px;
    font-weight: lighter;
    position: relative;

}

/*SideBar*/

.sideBar-Principal-Container {
    background-color: var(--color-Sidebar);
    width: 75px;
    height: 1179px;
    position: absolute;
}

.profile-container {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.button-profile {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFB399;
    border: 2px #FFB399;
    cursor: pointer;
}

.profile-Icon {
    font-size: 30px;
    color: white;
}

.statistics-container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.button-statistics{
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--color-Sidebar) ;
    border: 2px var(--color-Sidebar);
    cursor: pointer;

}

.statistics-Icon {
    font-size: 40px;
    
}

.notifications-container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.button-notifications{
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--color-Sidebar) ;
    border: 2px var(--color-Sidebar);
    cursor: pointer;

}

.notifications-Icon {
    font-size: 40px;
   
}

/*Side Bar Detail*/

#sideBar{
    display: inline-block;    
    background-color: var(--color-Sidebar-Detail);
    width: 238px;
    height: 1179px;
    margin-left: 75px;
}

#sideBar.active{
    margin-left: 75px;
}


.sideDetail-name-container{
    margin-top: 95px;
    height: 45px;
    width: 215px;
    font-family: var(--fuente-primaria);
    font-size: 20px;
    font-weight: bold;
    background-color: var(--color-Sombreado-Secundario);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 15px;
    padding-left: 45px;
   

}


.sideDetail-ul-container{
    margin-top: 45px;
}




.li-configuration{
    display: flex;
    justify-content: center;
}

.icon-configuration{
    
    font-size: 25px;
    margin-right: 10px;
    margin-top: -4px;
    
}

.li-cerrar-sesion-detail{
    display: flex;
    justify-content: center;
}

.icon-cerrar-sesion-container{
    font-size: 25px;
    margin-right: 10px;
    margin-top: -4px;
}

.btn-cerrar-sesion-container{
    margin-right: 10px;
    
}

.cerrar-sesion-text{
    color: black;
    font-weight: bold;
}


#sideBar ul li{
    text-align: center;
    margin-bottom: 30px;
    font-family: var(--fuente-primaria);
    font-weight: bold;
    font-size: 17px;
    
}

#sideBar ul li a{
    text-decoration: none;
    color: black;
     
}



.btn-cerrar-sesion{
    background-color: var(--color-Sidebar-Detail) ;
    border: 2px var(--color-Sidebar-Detail);
    cursor: pointer;
    font-family: var(--fuente-primaria);
    font-size: 17px;
}





